.answerGrid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 90%;
}

.answerCorrectDisplay {
  font-size: 2rem;
  color: green;
  padding: 1rem 0;
}

.answerWrongDisplay {
  font-size: 2rem;
  color: red;
  padding: 1rem 0;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
 .answerGrid {
    grid-template-columns: repeat(3, 33%);
  }
}
