.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInput {
  font-size: 2rem;
  font-family: 'Cabin Sketch', cursive;
  padding: 4px 8px;
  margin-bottom: 1rem;
  max-width: 12rem;
  border: solid lightgrey;
  border-width: 4px 3px 3px 4px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  outline: none;
  background: transparent;
  color: white;
}

.submitButton {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  max-width: 8rem;
  padding: 4px 8px;
  border: solid lightgrey;
  border-width: 2px 3px 3px 2px;
  border-radius:4% 94% 3% 95%/95% 4% 97% 5%;
  background: transparent;
  font-family: 'Cabin Sketch', cursive;
  color: white;
}

.gameEndOptionsGrid {
  display: grid;
  text-align: center;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 2rem;
  width: var(--max-width);
  max-width: 95%;
  margin-bottom: 1rem;
  gap: 6px;
  justify-content: center;
  z-index: 5;
}

.gameEndButtonOptions {
  border: solid lightgrey;
  border-width: 3px 3px 2px 2px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  padding-top: 4px;
}

.gameEndButtonReplay {
  border: solid lightgrey;
  border-width: 2px 3px 3px 2px;
  border-radius:4% 94% 3% 95%/95% 4% 97% 5%;
  padding-top: 4px;
}

.gameEndButtonResults {
  border: solid lightgrey;
  border-width: 3px 2px 2px 3px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  padding-top: 4px;
}