.achievementContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 92%;
  border: solid lightgrey;
  border-width: 2px 3px 3px 2px;
  border-radius:99% 2% 97% 5%/2% 99% 3% 97%;
}

.awardGrid {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-rows: 3.5rem;
  grid-template-columns: 10% 12% 14% 16% 18% 20%;
  column-gap: 8px;
  width: 90%;
}

.award1 {
  fill: goldenrod;
  color: goldenrod;
  line-height: 0.75;
}

.award2 {
  fill: silver;
  color: silver;
  line-height: 0.75;
}

.award3 {
  fill: gold;
  color: gold;
  line-height: 0.75;
}

.target1 {
  font-size: 0.9rem;
  color: white;
  text-align: center;
  line-height: 0.7rem;
}

.target2 {
  font-size: 0.9rem;
  color: white;
  text-align: center;
  line-height: 0.6rem;
}

.target3 {
  font-size: 0.9rem;
  color: white;
  text-align: center;
  line-height: 0.5rem;
}

.claim {
  font-size: 0.75rem;
  color: #90EE90;
  text-align: center;
}

.completed {
  font-size: 2rem;
  text-align: center;
}

.currentBest {
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
}

.current {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.container {
  width: 75%;
}

.standing {
  position: absolute;
  bottom: 20px;
  top: auto;
  font-size: 1.75rem;
  font-weight: 700;
}

.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 0.9rem;
  background-color: rgba(211, 211, 211, 1);
  border-radius: 40% 60% 52% 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  position: absolute;
  bottom: 22px;
  top: auto;
  font-size: 0.9rem;
  font-weight: 700;
}
