.modalCover {
  position: fixed;
  outline: none;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
}

.modalArea {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  width: 95%;
  max-width: 95%;
  height: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.bgWrap {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -10;
}

.text {
  margin: 0 0 16px 0;
  font-weight: 600;
  font-size: 2rem;
}

.button {
  display: flex;
  justify-content: space-between;
}

.closeButton {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: solid lightgrey;
  border-width: 3px 1px 2px 2px;
  border-radius:95% 4% 97% 5%/4% 94% 23% 95%;
  padding: 5px 20px;
  margin: 0px 8px;
  max-width: 100%;
  font-family: 'Cabin Sketch', cursive;
}

.chest {
  color: gold;
  font-size: 8rem;
}

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  } 
  50% { 
    opacity: 1;
    height: auto;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3);
  }
  to {
    opacity:0;
    height: 0;
    display: none;
  }
}
@keyframes zoomOut {
  0% {
    opacity:1;
  }
  50% {
    opacity: 0;
    height: auto;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3);
  }
  to {
    opacity: 0;
    height: 0;
    display: none;
  }
}
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform-origin: center;
  transform-origin: center;
  animation-delay: 500ms;
  -webkit-animation-delay: 500ms;
}

@-webkit-keyframes fadeInDownDelayed {
  0% {
    opacity: 0;
    height: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0)
  }
  to {
    opacity: 1;
    height: auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes fadeInDownDelayed {
  0% {
    opacity: 0;
    height: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  to {
    opacity: 1;
    height: auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.fadeInDownDelayed {
  -webkit-animation-name: fadeInDownDelayed;
  animation-name: fadeInDownDelayed;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-delay: 2400ms;
  -webkit-animation-delay: 2400ms;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-delay: 4400ms;
  -webkit-animation-delay: 4400ms;
}