.modalCover {
  position: fixed;
  outline: none;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
}
.modalArea {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  width: 95%;
  max-width: 95%;
  height: 25rem;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}
.bgWrap {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -10;
}
.exclamationMark {
  font-size: 5rem;
  font-weight: 700;
  color: tomato;
}
.text {
  font-weight: 600;
  width: 90%;
}
.subText {
  font-size: 16px;
  color: lightgrey;
  width: 90%;
}
.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInput {
  font-size: 2rem;
  font-family: 'Cabin Sketch', cursive;
  padding: 4px 8px;
  max-width: 12rem;
  border: solid lightgrey;
  border-width: 4px 3px 3px 4px;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  outline: none;
  background: transparent;
  color: white;
  margin-bottom: 1rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.cancelButton {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: solid lightgrey;
  border-width: 3px 1px 2px 2px;
  border-radius:95% 4% 97% 5%/4% 94% 23% 95%;
  padding: 5px 20px;
  margin: 0px 8px;
  width: 120px;
  font-family: 'Cabin Sketch', cursive;
}
.confirmButton {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: solid lightgrey;
  border-width: 3px 1px 2px 2px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  padding: 5px 20px;
  margin: 0px 8px;
  width: 120px;
  font-family: 'Cabin Sketch', cursive;
}