.achievementBoxing {
  width: 92%;
  border: solid lightgrey;
  border-width: 2px 3px 3px 2px;
  border-radius:99% 2% 97% 5%/2% 99% 3% 97%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.achievementContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.lockedMessage {
  position: absolute;
  z-index: 2;
}

.unlockButton {
  border: solid lightgrey;
  border-width: 3px 3px 3px 5px;
  border-radius:99% 2% 97% 5%/2% 99% 3% 97%;
  font-size: 1.5rem;
  margin: 20px 0;
  padding: 16px;
  font-weight: 700;
  background-color: rgb(58, 57, 59, 0.4);
}

.toast {
  color: white;
  font-size: 2rem;
  text-align: center;
  background-color: black;
  top: 200px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid lightgrey;
}

.gemsNeeded {
  font-size: 1.25rem;
  margin-top: 8px;
}

.iconImages {
  line-height: 0rem;
}

.bank {
  color: white;
  line-height: 0rem;
  font-size: 10rem;
}

.status {
  display: inline-block;
  border: solid darkgoldenrod;
  border-width: 4px 3px 3px 4px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-top: 1rem;
  padding: 8px;
  white-space: nowrap;
}

.clue {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
  line-height: 24px;
}

.releaseIcons {
  display: grid;
  grid-template-columns: 20% 6.66% 20% 6.67% 20% 6.66% 20%;
  align-items: center;
  justify-items: center;
  white-space: nowrap;
}

.releaseIcon {
  margin: 0 8px;
  padding: 4px 8px;
  border: solid lightgrey;
  border-width: 2px 1px 2px 2px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 97%;
}

.iconButton {
  margin-bottom: 6px;
  padding: 2px 6px;
  border: solid lightgrey;
  border-width: 1px 2px 2px 2px;
  border-radius:4% 94% 3% 97%/95% 4% 97% 5%;
  font-size: 0.8rem;
  width: 50px;
}

.colourButton {
  margin-top: 6px;
  padding: 2px 6px;
  border: solid lightgrey;
  border-width: 2px 2px 1px 2px;
  border-radius: 4% 94% 3% 97%/95% 4% 97% 5%;
  font-size: 0.8rem;
  width: 50px;
}

.enterButton {
  display: inline-block;
  white-space: nowrap;
  padding: 2px 48px;
  border: solid lightgrey;
  border-width: 3px 2px 3px 1px;
  border-radius: 2% 98% 1% 97%/98% 1% 99% 2%;
  font-size: 1.5rem;
}

.machinePartNumber {
  font-size: 1.5rem;
}

.machinePartName {
  font-size: 3rem;
}

.oldIcon {
  font-size: 8rem;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
  } 
  50% { 
    opacity: 1;
    height: auto;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3);
  }
  to {
    opacity:0;
    height: 0;
    display: none;
  }
}
@keyframes zoomOut {
  0% {
    opacity:1;
  }
  50% {
    opacity: 0;
    height: auto;
    -webkit-transform: scale3d(.3,.3,.3);
    transform: scale3d(.3,.3,.3);
  }
  to {
    opacity: 0;
    height: 0;
    display: none;
  }
}
.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform-origin: center;
  transform-origin: center;
  animation-delay: 500ms;
  -webkit-animation-delay: 500ms;
}

@-webkit-keyframes fadeInDownDelayed {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0)
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  } 
}
@keyframes fadeInDownDelayed {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.fadeInDownDelayed {
  -webkit-animation-name: fadeInDownDelayed;
  animation-name: fadeInDownDelayed;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-delay: 2400ms;
  -webkit-animation-delay: 2400ms;
}