.homeButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 20%;
  left: auto;
  margin: 20px 28px;
  font-size: 0.9rem;
  z-index: 1;
}

/* Mobile */
@media (max-width: 700px) {
  .homeButton {
    right: 5%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .homeButton {
    right: 12.5%;
  }
}