.masteryButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 40%;
  right: auto;
  font-size: 0.9rem;
  z-index: 1;
}

/* Mobile */
@media (max-width: 700px) {
  .masteryButton {
    top: 75px;
    left: 25%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .masteryButton {
    top: 20px;
    left: 30%;
  }
}

