.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.heading {
  overflow: hidden;
  text-transform: capitalize;
  text-align: center;
  box-shadow: 0px 2px 8px -1px #0000001a;
  max-width: 95%;
}

/* Mobile */
@media (max-width: 700px) {
  .center {
    padding: 5rem 0 2rem;
  }
} 