.questionOrderingGrid {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-rows: 2rem;
  grid-template-columns: 40% 40%;
  column-gap: 12px;
  width: var(--max-width);
  max-width: 90%;
}

.ordering {
  border: solid lightgrey;
  border-width: 2px 3px 2px 1px;
  border-radius:4% 94% 3% 95%/95% 4% 97% 5%;
}