.counterGrid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, minmax(25%, auto));
  width: var(--max-width);
  max-width: 50%;
  align-items: center;
  margin: 0.5rem 0 0.5rem;
  }

.correctCounter {
  font-size: 2rem;
  color: lime;
}

.reset {
  border: solid lightgrey;
  border-width: 2px 3px 3px 2px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  padding: 2px 4px;
  vertical-align: middle;
}

.errorCounter {
  font-size: 2rem;
  color: red;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .counterGrid {
    grid-template-columns: repeat(3, 33%);
  }
}