.noOfQuestionsGrid {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-rows: 2rem 2rem;
  grid-template-columns: 25% 25% 25%;
  column-gap: 12px;
  row-gap: 8px;
  width: var(--max-width);
  max-width: 90%;
}

.number {
  border: solid lightgrey;
  border-width: 2px 1px 1px 2px;
  border-radius:46% 55% 45% 54%/54% 45% 55% 46%;
}

.stretched {
  border: solid lightgrey;
  border-width: 2px 3px 2px 1px;
  border-radius:4% 94% 3% 95%/95% 4% 97% 5%;
  grid-column-start: 1;
  grid-column-end: 4;
}

.optionHeading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.numberOfQuestions {
  font-size: 2.5rem;
}