.startButton {
  border-style: solid;
  border-width: 4px 3px 3px 4px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0.75rem;
  margin-top: 1rem;
  white-space: nowrap;
  text-align: center;
}