.tablesInPlayGrid {
  display: grid;
  text-align: center;
  width: var(--max-width);
  max-width: 90%;
  margin-bottom: 1rem;
  gap: 12px;
  justify-items: center;
  justify-content: center;
}

.table {
  border: solid 1px darkgrey;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  color: black;
}