.tablesInPlayGrid {
  display: grid;
  text-align: center;
  width: var(--max-width);
  max-width: 90%;
  margin-bottom: 1rem;
  gap: 12px;
  justify-items: center;
  justify-content: center;
}

.table {
  border: solid lightgrey;
  border-width: 2px 1px 1px 2px;
  border-radius:46% 55% 45% 54%/54% 45% 55% 46%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.25rem;
  color: black;
}