.timeframeGrid {
  display: grid;
  grid-template-rows: 2rem 2rem;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 96%;
  column-gap: 2px;
  font-size: 0.9rem;
  white-space: nowrap;
}

.topRowTimeframeOptionLeft {
  border: solid lightgrey;
  border-width: 2px 3px 2px 1px;
  border-radius: 4% 94% 3% 95%/95% 4% 97% 5%;
  grid-column-start: 2;
  grid-column-end: 4;
}

.topRowTimeframeOptionRight {
  border: solid lightgrey;
  border-width: 2px 3px 2px 1px;
  border-radius: 4% 94% 3% 95%/95% 4% 97% 5%;
  grid-column-start: 4;
  grid-column-end: 6;
}

.secondRowTimeframeOptionLeft {
  border: solid lightgrey;
  border-width: 2px 3px 2px 1px;
  border-radius: 4% 94% 3% 95%/95% 4% 97% 5%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.secondRowTimeframeOptionMiddle {
  border: solid lightgrey;
  border-width: 2px 3px 2px 1px;
  border-radius: 4% 94% 3% 95%/95% 4% 97% 5%;
  grid-column-start: 3;
  grid-column-end: 5;
}

.secondRowTimeframeOptionRight {
  border: solid lightgrey;
  border-width: 2px 3px 2px 1px;
  border-radius: 4% 94% 3% 95%/95% 4% 97% 5%;
  grid-column-start: 5;
  grid-column-end: 7;
}