.container {
  width: 75%;
}

.firstStep {
  width: 15px;
  height: 15px;
  background-color: #90EE90;
  border-radius: 40% 60% 52% 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 0.9rem;
  background-color: rgba(211, 211, 211, 1);
  border-radius: 40% 60% 52% 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  position: absolute;
  bottom: 22px;
  top: auto;
  font-size: 0.9rem;
  font-weight: 700;
}

.standing {
  position: absolute;
  bottom: 20px;
  top: auto;
  font-size: 1.75rem;
  font-weight: 700;
}

.awardGrid {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-rows: 3.5rem;
  grid-template-columns: 10% 12% 14% 16% 18% 20%;
  column-gap: 8px;
  width: 90%;
}

.award1 {
  fill: silver;
  color: silver;
  line-height: 0.75;
}

.award2 {
  fill: goldenrod;
  color: goldenrod;
  line-height: 0.75;
}

.award3 {
  fill: gold;
  color: gold;
  line-height: 0.75;
}

.completed {
  font-size: 2rem;
  text-align: center;
}

.current {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.bgWrap {
  position: fixed;
  height: 50%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.claim {
  font-size: 0.75rem;
  color: #90EE90;
  text-align: center;
}

.target1 {
  font-size: 0.9rem;
  color: white;
  text-align: center;
  line-height: 0.7rem;
}

.target2 {
  font-size: 0.9rem;
  color: white;
  text-align: center;
  line-height: 0.6rem;
}

.target3 {
  font-size: 0.9rem;
  color: white;
  text-align: center;
  line-height: 0.5rem;
}

.mainClaim {
  font-size: 2rem;
  color: #90EE90;
  text-align: center;
}

