.optionHeading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.timestablesGrid {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-rows: 3.5rem 3.5rem;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  column-gap: 8px;
  width: var(--max-width);
  max-width: 90%;
}

.table {
  border: solid 1px darkgrey;
  border-radius: 50%;
}

.shortCutTableOptionsGrid {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-rows: 2rem 2rem;
  grid-template-columns: 24% 24% 24% 24%;
  column-gap: 12px;
  width: var(--max-width);
  max-width: 90%;
}

.shortCutOption {
  border: solid 1px darkgrey;
  border-radius: 2px;
  font-size: 1rem;
}

.spacer {
  content: "";
  padding: 1rem;
}

.questionOrderingGrid {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-template-rows: 2rem;
  grid-template-columns: 40% 40%;
  column-gap: 12px;
  width: var(--max-width);
  max-width: 90%;
}

.ordering {
  border: solid 1px darkgrey;
  border-radius: 2px;
}