.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInput {
  font-size: 2rem;
  padding: 4px 8px;
  margin-bottom: 1rem;
}

.submitButton {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  max-width: 8rem;
  padding: 4px 8px;
}
