.globalHealth {
  font-size: 1.5rem;
}

.globalProgressBarContainer {
  width: 75%;
}

.firstStep {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep {
  display: flex;
  justify-content: center;
  align-items: center;
}

.standing {
  position: absolute;
  bottom: 10px;
  top: auto;
  font-size: 0.9rem;
  font-weight: 700;
}

.noProgress {
  text-align: center;
  font-size: 2rem;
  width: 85%;
}
