.headingsGrid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 90%;
}

.answersGrid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 90%;
  padding-bottom: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  justify-items: center;
  grid-column-start: 1;
  grid-column-end: 4;

}

.filterButton {
  border: 1px solid white;
  border-radius: 4px;
  padding: 4px 6px;
}

.noHeight {
  height: 0px;
}